.box {
  width: 204px;
  height: 160px;
  background: #fafbfe;
  border: $primary-color;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding-top: 1rem;
  color: #abb6c7;
  font-size: 1.2rem;
  border: 2px solid transparent;
  transition: 0.1s;
  cursor: pointer;

  &:hover {
    color: $primary-color;
    border: 2px solid $primary-color;
    font-weight: bold;
  }
}

.box .logo {
  width: 40px;
  height: 40px;
}

//  ===============  PILL CARD ==================
.pillcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .img {
    background: $linear-bg-sec;
    width: 397px;
    height: 443px;
    padding: 30px 17px 0px 17px;
    border-radius: 250px 250px 4px 4px;
    border: 1rem solid white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow: hidden;
    display: flex;
    justify-content: end;
  }

  .name {
    font-size: 2rem;
    font-weight: 400;
    color: $dark-blue;
  }

  .role {
    color: $primary-color;
    font-size: 1.3rem;
    font-weight: 500;
  }
}

// ======================  HOSPITAL DETAIL CARD  =============================

.hospital-card {
  width: 870px;
  height: 295px;
  background: white;
  border-radius: 1rem;
  display: flex;
  gap: 2rem;
  padding: 4rem 2rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin: 1rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .img {
    flex: 1 1 50%;
  }
  .img .circle {
    background: $secondary-color;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    display: grid;
    place-content: center;
  }

  .content {
    flex: 1 1 50%;
    font-size: 1rem;
    .name {
      color: $primary-color;
      font-weight: 600;
      font-size: 1.4rem;
      padding-bottom: 1rem;
    }

    .location .area {
      font-weight: 600;
      font-size: 1rem;
    }

    .location span {
      color: black;
      opacity: 0.5;
    }

    .book-area .box-one {
      display: flex;
      align-items: center;
      gap: 10rem;
      text-wrap: nowrap;
      padding-bottom: 2rem;

      .txt-one {
        color: black;
        // font-size: 1.2rem;
        font-weight: 500;
        border-bottom: 1px solid #fafbfe;
        flex: 1 1 50%;
      }

      .txt-one span {
        color: $green;
        font-weight: bold;
        font-size: 1.3rem;
      }

      .txt-one s {
        color: #abb6c7;
      }

      .txt-two {
        color: $green;
        text-align: center;
        font-weight: 500;
        flex: 1 1 50%;
        margin-right: 1.5rem;
      }
    }

    .book-area .box-two {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .likes {
        width: 40px;
        width: 50px;
        background: $green;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }

      .likes .icon {
        width: 20px;
        height: 20px;
      }

      .likes .num {
        color: #fafbfe;
        padding-top: 1px;
        font-weight: 600;
      }
    }
  }
}
