$primary-color: #2AA7FF;
$secondary-color: #8CCFFF;
$dark-blue: #102851;
$grey : #5C6169;
$green : #01A400;
$light-color: #f4f4f4;
$white-color: #fff;
$danger-color: #e23c39;
$warning-color: #efaf41;
$linear-bg : linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
$linear-bg-sec : linear-gradient(144.2deg, #E1F3FF 0%, #2AA7FF 100%);



