.search-input-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  .input {
    border: 1px solid #f0f0f0;
    background: #fafbfe;
    padding: 1.2rem 1.4rem 1rem 1.4rem;
    display: flex;
    align-items: center;
    border-radius: 6px;
    gap: 10px;
    height: 60px;
    width: 500px;
    font-size: 2rem;
    transition: 0.2s;

    &:focus-within {
      border: 1px solid $primary-color;
    }

    span {
      font-size: 2rem;
      color: #abb6c7;
    }
  }

  ::placeholder {
    color: #abb6c7;
    font-size: 1.2rem;
  }
}
